@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
body {
  font-family: "Sarabun", sans-serif;
}
.labelprogres {
  position: fixed;
  top: 33%;
  left: 43%;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #6f6e6e;
  text-align: center;
}

#containerlabelprogres {
  -webkit-animation: pulsate 1s infinite;
  animation: pulsate 1s infinite;
  position: fixed;
  top: 30%;
  left: 50%;
  width: 50px;
  height: 50px;
}
@keyframes loading-pulse {
  0%,
  100% {
    transform: scale(0.7);
  }
  10% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(0.8);
  }
  35% {
    transform: scale(1);
  }
}
